<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMB</title>
</head>
<body>
    <h2>Edit Product</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" formControlName="productName">
  </div>

  <div>
    <label for="productOwnerName">Product Owner:</label>
    <input type="text" id="productOwnerName" formControlName="productOwnerName">
  </div>

  <div>
    <label for="developers">Developers:</label>
    <input type="text" id="developers" formControlName="developers">
  </div>

  <div>
    <label for="scrumMasterName">Scrum Master:</label>
    <input type="text" id="scrumMasterName" formControlName="scrumMasterName">
  </div>

  <div>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" formControlName="startDate">
  </div>

  <div>
    <label for="methodology">Methodology:</label>
    <input type="text" id="methodologyName" formControlName="methodologyName">
  </div>

  <div>
    <button type="submit" [disabled]="productForm.invalid">Save</button>
  </div>
</form>

</body>
</html>