body {
  background-attachment: fixed;
  background: #405065;
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background: linear-gradient(to bottom, #e27ceb 0%, #63304a 100%);
  color: #282121;
}

thead th:hover {
  background: linear-gradient(to bottom, #e7baec 0%, #ff9bd2 100%);
  color: #282121;
}


th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
}

mat-raised-button {
  margin-top: 20px;
}

.btn {
  display:inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to bottom, #e27ceb 0%, #ff82c2 100%);
  color: #282121;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit_Del-btn {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 12px;
}
.material-icons {
  font-size: 18px;
}

.btn:hover {
  background: linear-gradient(to bottom, #e7baec 0%, #ff9bd2 100%);
}

.search-hero {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-control {
  height: 25px;
  box-shadow: 0 10px 20px 0 #18021a;
  border: 2px solid #dbe6f0;
  border-radius: 5px; 
  padding: 5px;
  width: 35%;
  margin-left: 20px; /* adjust this value to create space between the placeholder and the input field */
}

.form-control::placeholder {
  color: #a2a2a2;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.product-added-message {
  position: fixed;
  top: 0;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, 0);
  width: 400px; /* set the width of the element */
  font-size: 24px;
  color: rgb(189, 230, 10);
  text-align: center;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(233, 81, 5, 0.5);
  animation: flash 1s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}